

.text-col {
	padding-left: 0!important;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  
	p {
		margin: 0;
	}
	p.post-date {
		font-size: .75rem;
	}
}
.image-col {
	img {
		width: 100%;
	}
}
.moa-posts-widget-row.row {
	margin-bottom: 1rem;
	.row {
		display: flex;
	align-items: center;
  justify-content: center;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}
.moa-posts-widget-row {
	margin-bottom: 1rem;
	.text-col {
		width: 100%;
		display: block;
		
	}
}

.owl-item {
	.moa-posts-widget-row {
		position: relative;
		.text-col {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0,0,0,.5);
			color: #fff;
			z-index: 2;
			a {
				color: #fff;
				font-size: .75rem;
				line-height: 1.2em;
				padding: .5rem;
				text-decoration: none;
				display: block;
			}
		}
	}
}

.moa-posts.layout-column {
  .image-col {
    margin-bottom: 0.5rem;
  }
}